/* ----------------------SECTIONS TEXT---------------------- */

/* BRAND */
@media screen and (max-width: 640px) {

  #section2{
    height: 100%;
    width: 100%;
  }

}


@media screen and (min-width: 1000px) {
  .brand {
    width: calc( 90% / 3);
  }
  .btt-titulo{
      font-weight: 200;
      font-size: 25px;
      padding-top: 18%;

    }


}



/* -------------------------- */



/* ----------------------------CARDPERFIL-------------------------------- */

@media screen and (min-width: 1000px) {
#cardcassia{
  width: 90%;
  margin: 90px auto;
}

.pensamento{
  font-size: 70%;
}

.apresentacao{
  text-align: center;
    font-size: 80%;
    margin-top: 1px;
    line-height: 2;
    letter-spacing: 3px;
    padding: 0px 33px;
    color: #8bee64;
}


}



/* ----------------------GALERIA SECTION---------------------- */

@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
  .grid li.wide {
    width: 50%;
  }
}
/* ------------------------------------------------------ */

/* ----------------------FORM SECTION---------------------- */

@media (max-width: 600px) {

  .form_wrapper{
      width: 100%;
  }

  .form_wrapper textarea{
      width: 100%;
  }

  .form_wrapper .col_half {
      width:100%;
      float:none;
  }
  .form_wrapper label {
      margin:10px 0;
  }
  }


  /* ------------------------------------------------------ */
  
  /* ------------------------ FOOTER------------------------ */

  @media screen and (max-width: 640px){
      
      .social-media{
          display:flex;
          margin:0 auto;
        }


      .wrapper {
        
          display:  flex;
      }
   
    }
    
    
