// colors

$color-1: #372578; 
$color-2: #ECC334; 
$color-3: #E83B35; 
$color-4: #61B241; 
$color-5: #6D69A5; 
$color-6: #3D1C14; 
$color-7: #F681A8; 
$color-8: #FDE7EF; 

// fonts 

$primary-font: 'Ubuntu', sans-serif;
$second-font: 'Barrio', sans-serif;
